/*
* New Coast Ventures
* Copyright New Coast Ventures 2017
* newcoastventures.com
*/


body {
  color: #666;
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-size: 1em;
  opacity: 1;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: #191919;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 24px;

  @include breakpoint(l-one) {
    margin: 0 0 16px;
  }
}

h5, h6 {
  margin: 0 0 8px;
}

h1 {
  font-size: 2.5em; // 40px

  @include breakpoint(l-one) { font-size: 32px; }
}
h2 {
  font-size: 2.25em; // 36px

  @include breakpoint(l-one) { font-size: 28px; }
}
h3 {
  font-size: 2em; // 32px

  @include breakpoint(l-one) { font-size: 24px; }
}
h4 {
  font-size: 1.75em; // 28px

  @include breakpoint(l-one) { font-size: 20px; }
}
h5 {
  font-size: 1.5em; // 24px

  @include breakpoint(l-one) { font-size: 18px; }
}
h6 {
  font-size: 1.25em; // 20px

  @include breakpoint(l-one) { font-size: 16px; }
}

p {
  margin: 0 0 24px;
}

hr {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  margin: 40px 0 48px;

  @include breakpoint(l-one) {
    margin: 20px 0;
  }
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #F3322E;

  &:focus, &:hover {
    color: #F3322E;
  }
}
