/*
* New Coast Ventures
* Copyright New Coast Ventures 2017
* newcoastventures.com
*/


// Clear
%clear:after {
  content: "";
  display: table;
  clear: both;
}

// Screensize Visibility
#desktop {
  display: block;
  visibility: visible;

  @include breakpoint(l-three) {
    display: none;
    visibility: hidden;
  }
}
#mobile {
  display: none;
  visibility: hidden;

  @include breakpoint(l-three) {
    display: block;
    visibility: visible;
  }
}
