/*
* New Coast Ventures
* Copyright New Coast Ventures 2017
* newcoastventures.com
*/


// Hero
.hero-image {
  background-position: center;
  background-size: cover;
  height: 480px;
  width: 100%;

  @include breakpoint(l-three) {
    height: 320px;
  }
}

// Site Content
.site-content {
  padding: 88px 0 24px 0;
  min-height: calc(100vh - 59px);
}

.page-content {
  padding: 8px 0;

  &.-blog-content {
    padding: 43px 0 8px;

    @include breakpoint(l-six) {
      padding: 8px 0;
    }
  }
}

// IMG
img.display{
  margin: 0 0 12px;

  @include breakpoint(l-one) {
      margin: 0 0 8px;
  }
}

// Alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

// Footer
footer.site-footer {
  background: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.813em;
  padding: 20px 0;
  text-align: center;

  .nav-inline .nav-item {
    @include breakpoint(l-one) {
      display: block;
      margin: 0 0 8px;
    }
  }

  .nav-inline .nav-item+.nav-item, .nav-inline .nav-link+.nav-link {
    margin-left: 24px;

    @include breakpoint(l-one) {
      margin-left: 0;
    }
  }

  .nav-inline .nav-item, .nav-inline a.nav-link {
    color: #999;
  }

  .nav-inline a.nav-link:hover {
    color: #666;
  }
}

// .home footer.site-footer {
//   background: none;
//   bottom: 0;
//   position: absolute;
//   width: 100%;
//   z-index: 5000;
//
//   @include breakpoint(l-one) {
//     display: none;
//     visibility: hidden;
//   }
//
//   .nav-inline .nav-item, .nav-inline a.nav-link {
//     color: #EDEDED;
//   }
//
//   .nav-inline a.nav-link:hover {
//     color: #FFF;
//   }
// }
