/*
* New Coast Ventures
* Copyright New Coast Ventures 2017
* newcoastventures.com
*/


// Secondary Pages
section.section-secondary {
  padding: 48px 0;

  @include breakpoint(l-one) {
    padding: 24px 0;

    &.first {
      padding: 48px 0 24px;
    }

    &.last {
      padding: 24px 0 48px;
    }
  }

  h2 {
    margin: 24px 0;
  }

  img {
    max-width: 100%;
    height: auto;

    @include breakpoint(l-one) {
      max-width: none;
      width: 100%;
    }
  }
}
