/*
* New Coast Ventures
* Copyright New Coast Ventures 2017
* newcoastventures.com
*/


// System
ul.feature-list {
  margin: 0;
  padding: 0 0 0 24px;
  @extend %clear;

  @include breakpoint(l-three) {
    padding: 8px 0;
  }

  li {
    float: left;
    font-size: 1em;
    line-height: 1.4;
    margin: 0 8% 4px 0;
    width: 100%;

    @include breakpoint(l-three) {
      float: none;
      margin: 0 0 4px;
      width: 100%;
    }

    &:nth-child(even) {
      margin: 0 0 4px;

      @include breakpoint(l-three) {
        margin: 0 0 4px;
      }
    }

    strong {
      display: block;
      color: #191919;
      font-family: 'Open San', sans-serif;
      font-weight: 700;
    }
  }
}
