/*
* New Coast Ventures
* Copyright New Coast Ventures 2017
* newcoastventures.com
*/


// Gallery
.envira-gallery-wrap, .envira-gallery-wrap .envira-gallery-public {
  margin: 0 auto 8px auto !important;
}

#envira-gallery-128 .envira-gallery-item:nth-child(1) a::after, #envira-gallery-128 .envira-gallery-item:nth-child(2) a::after {
  background: red;
  bottom: 0;
  color: #FFF;
  content: 'Active Listing';
  display: block;
  font-family: 'Open Sans', Sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  padding: 8px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
